<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515363116031-id9nutlt94de49ut3kn09u35vj5ql6rg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515363116031-id9nutlt94de49ut3kn09u35vj5ql6rg</string>
	<key>API_KEY</key>
	<string>AIzaSyDS_m581ad6zpvSt7T5UAL0itWUITK-5EQ</string>
	<key>GCM_SENDER_ID</key>
	<string>515363116031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iChattr.AQT</string>
	<key>PROJECT_ID</key>
	<string>ichattr-8878c</string>
	<key>STORAGE_BUCKET</key>
	<string>ichattr-8878c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515363116031:ios:de8de9f26f34d71c</string>
	<key>DATABASE_URL</key>
	<string>https://ichattr-8878c.firebaseio.com</string>
</dict>
</plist>